ion-content{
    --ion-background-color: #E1EAF9;
    text-align: center;
}

ion-header{
  position: absolute;
}

ion-toolbar{
  --ion-background-color: transparent;
  --opacity:0;
}

.signin-btns{
  margin-top: 25px;
  text-align: center;
  color:#F0F4FA;
}

.loginbtn{
  --ion-color-primary: #215AB7;
}

.text-tag{
  margin-top: 35px;
  text-align: center;
  span{
    font-size: 13px;
  }
}