<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="background-container">
    <!-- Your form and other content goes here -->
    <ion-img class="background-image" src="../assets/images/purple.jpg"></ion-img>
    <div id="form-container">
      <!-- Your form goes here -->
    </div>
  </div>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button shape="round" [routerLink]="['/weather']" routerDirection="forward">weather</ion-button>
  </div>

  
</ion-content>
