<ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src= "../assets/images/header1.png"></ion-img>
  </ion-card>

    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          
          <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email Address" required><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><rect x="48" y="96" width="416" height="320" rx="40" ry="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 160l144 112 144-112"/></svg>
          </ion-input>
          
        </ion-item>
        <ion-item>
          <ion-input type="password" name="password" [(ngModel)]="password" placeholder="********" required>
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M336 208v-95a80 80 0 00-160 0v95" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="96" y="208" width="320" height="272" rx="48" ry="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
          </ion-input>
        </ion-item>
      </div>
      <div class="password_forgot">
          <ion-button fill="clear" class="ion-no-padding">Forgot Password?</ion-button>
      </div>
      <div class="sign-btn-wrap">
        <ion-button shape="round" fill="solid" class="sign-btn">Login</ion-button>
      </div>

      <div class="text-tag">
        <span>Or visit social media</span>
      </div>

      <div class="social-btns">
        <ion-button fill="clear" class="facebookbtn ion-no-padding">
          <ion-img src="../assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="googlebtn ion-no-padding">
          <ion-img src="../assets/images/google.png"></ion-img>
        </ion-button>
        
      </div>
    </ion-card-content>

    <div class="ion-card-footer">
      <span>Don't have an account? </span><button class="ion-no-padding">Sign Up</button>
    </div>

</ion-content>
